body{
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
} 
main{
    margin: auto;
    padding: 20px;
}   
h1{
    text-align: center
}
p{
    text-align: center
}
main-header{
    justify-content: space-between;
    align-items: center;
}
.navbar{
    background-color: hsl(276, 18%, 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
}
.logo{
    height: 80px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.nav-menu li a:hover{
    background-color: #f7af09;
    border-radius: 4px;
}
.Navbar ul{
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: hsl(276, 18%, 40%);
    justify-content: space-between;
}
.Navbar li{
    float: left;
    justify-content: space-between;
}
.Navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Navbar li a:hover{
    background-color: #f7af09;
}