html{
    scroll-behavior: smooth;
}
body{
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
} 
main{
    margin: auto;
    padding: 20px;
}   
h1{
    text-align: center
}
p{
    text-align: center
}
section{
    margin-bottom: 100px;
}
#home{
    position: relative;
    background-image: url ("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px;
    color: black;
    min-height: 80vh;
}
#home::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0;
}
#home h1,
#home p {
    position: relative;
    z-index: 1;
    color: black;
}
.navbar{
    background-color: hsl(276, 18%, 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
}
.logo{
    height: 100px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.nav-menu li a:hover{
    background-color: #f7af09;
    border-radius: 4px;
}
.message-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.form-container {
    width: 50%;
}

.output-container {
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none; 
    background-color: #f9f9f9;
}
