body{
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
} 
main{
    margin: auto;
    padding: 20px;
}   
h1{
    text-align: center
}
p{
    text-align: center
}
.navbar{
    background-color: hsl(276, 18%, 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
}
.logo{
    height: 100px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.nav-menu li a:hover{
    background-color: #f7af09;
    border-radius: 4px;
}

header{
    background-image: linear-gradient(rgb(0, 0, 0.5),rgb(0, 0, 0.5),rgb(0, 0, 0.5)), url('images/background.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}